@model User
@{
    ViewData["Title"] = "Кабінет";
    var role = ViewContext.HttpContext.Session.GetInt32("UserRole");
    bool isSelfAccount = Model.Id.ToString() == ViewContext.HttpContext.Session.GetString("UserId");
    bool isAdmin = role == 1 || role == 2;
}
<div class="profile">
    <div class="profile_info">
        <h2>@Model.Name @Model.SurName</h2>
        <div id="phone_container">
            <h3>@Model.PhoneNumber</h3>
            @if (isSelfAccount)
            {
                <button id="change-phone-number" onclick="editPhone(this)" phone=@Model.PhoneNumber>
                    <span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_217_311)">
                                <path d="M24 0H0V24H24V0Z" fill="white" fill-opacity="0.01" />
                                <path d="M21 13V20C21 20.5523 20.5523 21 20 21H4C3.44771 21 3 20.5523 3 20V4C3 3.44771 3.44771 3 4 3H11" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M7 13.36V17H10.6586L21 6.65405L17.3475 3L7 13.36Z" stroke="currentColor" stroke-width="2" stroke-linejoin="round" />
                            </g>
                            <defs>
                                <clipPath id="clip0_217_311">
                                    <rect width="24" height="24" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                    </span>
                </button>
            }
            else
            {
                <button id="change-phone-number" onclick="copyPhone(this)" phone=@Model.PhoneNumber>
                    <span>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.1 22.75H6.9C2.99 22.75 1.25 21.01 1.25 17.1V12.9C1.25 8.99 2.99 7.25 6.9 7.25H11.1C15.01 7.25 16.75 8.99 16.75 12.9V17.1C16.75 21.01 15.01 22.75 11.1 22.75ZM6.9 8.75C3.8 8.75 2.75 9.8 2.75 12.9V17.1C2.75 20.2 3.8 21.25 6.9 21.25H11.1C14.2 21.25 15.25 20.2 15.25 17.1V12.9C15.25 9.8 14.2 8.75 11.1 8.75H6.9V8.75Z" fill="currentColor" />
                            <path d="M17.1 16.75H16C15.59 16.75 15.25 16.41 15.25 16V12.9C15.25 9.8 14.2 8.75 11.1 8.75H8C7.59 8.75 7.25 8.41 7.25 8V6.9C7.25 2.99 8.99 1.25 12.9 1.25H17.1C21.01 1.25 22.75 2.99 22.75 6.9V11.1C22.75 15.01 21.01 16.75 17.1 16.75ZM16.75 15.25H17.1C20.2 15.25 21.25 14.2 21.25 11.1V6.9C21.25 3.8 20.2 2.75 17.1 2.75H12.9C9.8 2.75 8.75 3.8 8.75 6.9V7.25H11.1C15.01 7.25 16.75 8.99 16.75 12.9V15.25Z" fill="currentColor" />
                        </svg>
                    </span>
                </button>
            }
        </div>
        @if (isAdmin && isSelfAccount)
        {
            <a asp-controller="Admin" asp-action="Panel">Панель керування</a>
        }
        @if (isSelfAccount)
        {
            <a asp-controller="User" asp-action="ChangePasswordFromProfile">Змінити пароль</a>
            <a asp-controller="User" asp-action="Logout">Вийти</a>
        }
    </div>
    <div class="profile_pages" id="pages-profile">
        <div class="profile_pages_buttons">
            <div class="radio">
                <input type="radio" id="for-sell"
                       name="page" value="for-sell" checked>
                <label for="for-sell" id="for-sell-label"><span class="label_span">Авто у продажі<span class="label_counter"> (@Model.CarsForSell.Count)</span></span></label>
            </div>
            <div class="radio">
                <input type="radio" id="waiting"
                       name="page" value="waiting">
                <label for="waiting" id="waiting-label"><span class="label_span">Очікують на модерацію<span class="label_counter"> (@Model.CarWithoutConfirmation.Count)</span></span></label>
            </div>
            <div class="radio">
                <input type="radio" id="requests"
                       name="page" value="requests">
                <label for="requests" id="requests-label"><span class="label_span">Запити на покупку<span class="label_counter"> (@Model.SendedBuyRequest.Count)</span></span></label>
            </div>
            @if (isSelfAccount)
            {
                <div class="radio">
                    <input type="radio" id="favorite"
                           name="page" value="favorite">
                    <label for="favorite" id="favorite-label">
                        <span class="label_span">Обрані авто<span class="label_counter"> (@Model.Favorites.Count)</span></span>

                    </label>
                </div>
            }
        </div>
        <div class="line-separator">
            <div id="line"></div>
        </div>
    </div>
    <div class="profile_content">
        <div class="pages_buttons"></div>
        <div class="wrapper" style="margin: 50px">
            <div id="cars-list" class="carList"></div>
        </div>
        <div class="pages_buttons"></div>
    </div>
</div>
<script src="~/js/profilePage.js" asp-append-version="true"></script>