@using System.Security.Claims;
@using Microsoft.AspNetCore.Http;
@model User
@{
    ViewData["Title"] = "Кабінет";
    ViewBag.Index = "False";
    string userId = "";
    int? userRole = 0;
    if (User != null && User.Identity != null)
    {
        userId = ((ClaimsIdentity)User.Identity)?.Claims?.FirstOrDefault()?.Value ?? "";
        userRole = ViewContext.HttpContext.Session.GetInt32("Role");
    }
    bool isSelfAccount = Model.Id.ToString() == userId;
    bool isAdmin = userRole == 1 || userRole == 2;
}
<div class="profile">
    <div class="profile_info">
        <div>
            <div id="name_container">
                <h2>@Model.SurName @Model.Name</h2>
                @if (isSelfAccount)
                {
                    <button id="change-name" onclick="editName(this)" name="@Model.Name" surname="@Model.SurName">
                        <span>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_217_311)">
                                    <path d="M24 0H0V24H24V0Z" fill="white" fill-opacity="0.01" />
                                    <path d="M21 13V20C21 20.5523 20.5523 21 20 21H4C3.44771 21 3 20.5523 3 20V4C3 3.44771 3.44771 3 4 3H11" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M7 13.36V17H10.6586L21 6.65405L17.3475 3L7 13.36Z" stroke="currentColor" stroke-width="2" stroke-linejoin="round" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_217_311">
                                        <rect width="24" height="24" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </span>
                    </button>
                }
            </div>
            <div id="phone_container">
                <h3>+@Model.PhoneNumber</h3>
                @if (isSelfAccount)
                {
                    <button id="change-phone-number" onclick="editPhone(this)" phone=@Model.PhoneNumber>
                        <span>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_217_311)">
                                    <path d="M24 0H0V24H24V0Z" fill="white" fill-opacity="0.01" />
                                    <path d="M21 13V20C21 20.5523 20.5523 21 20 21H4C3.44771 21 3 20.5523 3 20V4C3 3.44771 3.44771 3 4 3H11" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M7 13.36V17H10.6586L21 6.65405L17.3475 3L7 13.36Z" stroke="currentColor" stroke-width="2" stroke-linejoin="round" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_217_311">
                                        <rect width="24" height="24" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </span>
                    </button>
                }
                else
                {
                    <button id="change-phone-number" onclick="copyPhone(this)" phone=@Model.PhoneNumber>
                        <span>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.1 22.75H6.9C2.99 22.75 1.25 21.01 1.25 17.1V12.9C1.25 8.99 2.99 7.25 6.9 7.25H11.1C15.01 7.25 16.75 8.99 16.75 12.9V17.1C16.75 21.01 15.01 22.75 11.1 22.75ZM6.9 8.75C3.8 8.75 2.75 9.8 2.75 12.9V17.1C2.75 20.2 3.8 21.25 6.9 21.25H11.1C14.2 21.25 15.25 20.2 15.25 17.1V12.9C15.25 9.8 14.2 8.75 11.1 8.75H6.9V8.75Z" fill="currentColor" />
                                <path d="M17.1 16.75H16C15.59 16.75 15.25 16.41 15.25 16V12.9C15.25 9.8 14.2 8.75 11.1 8.75H8C7.59 8.75 7.25 8.41 7.25 8V6.9C7.25 2.99 8.99 1.25 12.9 1.25H17.1C21.01 1.25 22.75 2.99 22.75 6.9V11.1C22.75 15.01 21.01 16.75 17.1 16.75ZM16.75 15.25H17.1C20.2 15.25 21.25 14.2 21.25 11.1V6.9C21.25 3.8 20.2 2.75 17.1 2.75H12.9C9.8 2.75 8.75 3.8 8.75 6.9V7.25H11.1C15.01 7.25 16.75 8.99 16.75 12.9V15.25Z" fill="currentColor" />
                            </svg>
                        </span>
                    </button>
                }
            </div>
        </div>
        <div>
            @if (isAdmin && isSelfAccount)
            {
                <a asp-controller="Admin" asp-action="Panel">Панель керування</a>
            }
            @if (isAdmin && !isSelfAccount && Model.Role == 0)
            {
                <button id="change-role">Зробити адміном</button>
            }
            else @if (isAdmin && !isSelfAccount && Model.Role != 0)
            {
                <button id="change-role" cancel>Забрати адмінку</button>
            }
            @if (isSelfAccount)
            {
                <a asp-controller="User" asp-action="ChangePasswordFromProfile">Змінити пароль</a>
                <a asp-controller="User" asp-action="Logout">Вийти</a>
            }
        </div>
    </div>
    <div class="profile_pages" id="pages-profile">
        <div class="profile_pages_buttons">
            <div class="radio">
                <input type="radio" id="for-sell"
                       name="page" value="for-sell" checked>
                <label for="for-sell" id="for-sell-label">
                    <span class="label_span">
                        <span class ="span_svg">
                            <svg width="25" height="25" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M24.9997 14.6876H4.9997C4.7122 14.6876 4.4497 14.5626 4.2747 14.3376C4.0997 14.1251 4.0247 13.8251 4.0872 13.5501L5.4997 6.8001C5.9622 4.6126 6.8997 2.6001 10.6122 2.6001H19.3997C23.1122 2.6001 24.0497 4.6251 24.5122 6.8001L25.9247 13.5626C25.9872 13.8376 25.9122 14.1251 25.7372 14.3501C25.5497 14.5626 25.2872 14.6876 24.9997 14.6876ZM6.1497 12.8126H23.8372L22.6622 7.1876C22.3122 5.5501 21.8997 4.4751 19.3872 4.4751H10.6122C8.0997 4.4751 7.6872 5.5501 7.3372 7.1876L6.1497 12.8126Z" fill="currentColor" />
                                <path d="M24.9495 28.4376H22.5995C20.5745 28.4376 20.187 27.2751 19.937 26.5126L19.687 25.7626C19.362 24.8126 19.3245 24.6876 18.1995 24.6876H11.7995C10.6745 24.6876 10.5995 24.9001 10.312 25.7626L10.062 26.5126C9.7995 27.2876 9.4245 28.4376 7.3995 28.4376H5.0495C4.062 28.4376 3.112 28.0251 2.4495 27.3001C1.7995 26.5876 1.487 25.6376 1.5745 24.6876L2.2745 17.0751C2.462 15.0126 3.012 12.8126 7.0245 12.8126H22.9745C26.987 12.8126 27.5245 15.0126 27.7245 17.0751L28.4245 24.6876C28.512 25.6376 28.1995 26.5876 27.5495 27.3001C26.887 28.0251 25.937 28.4376 24.9495 28.4376ZM11.7995 22.8126H18.1995C20.4745 22.8126 21.012 23.8251 21.462 25.1501L21.7245 25.9251C21.937 26.5626 21.937 26.5751 22.612 26.5751H24.962C25.4245 26.5751 25.862 26.3876 26.1745 26.0501C26.4745 25.7251 26.612 25.3126 26.5745 24.8751L25.8745 17.2626C25.712 15.5751 25.512 14.7001 22.9995 14.7001H7.0245C4.4995 14.7001 4.2995 15.5751 4.1495 17.2626L3.4495 24.8751C3.412 25.3126 3.5495 25.7251 3.8495 26.0501C4.1495 26.3876 4.5995 26.5751 5.062 26.5751H7.412C8.087 26.5751 8.087 26.5626 8.2995 25.9376L8.5495 25.1751C8.862 24.1751 9.3245 22.8126 11.7995 22.8126Z" fill="currentColor" />
                                <path d="M4.99951 10.9376H3.74951C3.23701 10.9376 2.81201 10.5126 2.81201 10.0001C2.81201 9.48759 3.23701 9.06259 3.74951 9.06259H4.99951C5.51201 9.06259 5.93701 9.48759 5.93701 10.0001C5.93701 10.5126 5.51201 10.9376 4.99951 10.9376Z" fill="currentColor" />
                                <path d="M26.2495 10.9376H24.9995C24.487 10.9376 24.062 10.5126 24.062 10.0001C24.062 9.48759 24.487 9.06259 24.9995 9.06259H26.2495C26.762 9.06259 27.187 9.48759 27.187 10.0001C27.187 10.5126 26.762 10.9376 26.2495 10.9376Z" fill="currentColor" />
                                <path d="M14.9995 7.18759C14.487 7.18759 14.062 6.76259 14.062 6.25009V3.75009C14.062 3.23759 14.487 2.81259 14.9995 2.81259C15.512 2.81259 15.937 3.23759 15.937 3.75009V6.25009C15.937 6.76259 15.512 7.18759 14.9995 7.18759Z" fill="currentColor" />
                                <path d="M16.8745 7.18759H13.1245C12.612 7.18759 12.187 6.76259 12.187 6.25009C12.187 5.73759 12.612 5.31259 13.1245 5.31259H16.8745C17.387 5.31259 17.812 5.73759 17.812 6.25009C17.812 6.76259 17.387 7.18759 16.8745 7.18759Z" fill="currentColor" />
                                <path d="M11.2495 19.6876H7.49951C6.98701 19.6876 6.56201 19.2626 6.56201 18.7501C6.56201 18.2376 6.98701 17.8126 7.49951 17.8126H11.2495C11.762 17.8126 12.187 18.2376 12.187 18.7501C12.187 19.2626 11.762 19.6876 11.2495 19.6876Z" fill="currentColor" />
                                <path d="M22.4995 19.6876H18.7495C18.237 19.6876 17.812 19.2626 17.812 18.7501C17.812 18.2376 18.237 17.8126 18.7495 17.8126H22.4995C23.012 17.8126 23.437 18.2376 23.437 18.7501C23.437 19.2626 23.012 19.6876 22.4995 19.6876Z" fill="currentColor" />
                            </svg>
                        </span>Продаж
                    </span><span class="label_span-mobile">Продаж</span><span class="label_counter"> (@Model.CarsForSell.Count)</span>
                </label>
            </div>
            <div class="radio">
                <input type="radio" id="waiting"
                       name="page" value="waiting">
                <label for="waiting" id="waiting-label">
                    <span class="label_span">
                        <span class="span_svg">
                            <svg width="25" height="25" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_120_426)">
                                    <path d="M15 27.5C21.9036 27.5 27.5 21.9036 27.5 15C27.5 8.09644 21.9036 2.5 15 2.5C8.09644 2.5 2.5 8.09644 2.5 15C2.5 21.9036 8.09644 27.5 15 27.5Z" stroke="currentColor" stroke-width="2" stroke-linejoin="round" />
                                    <path d="M15.0051 7.5L15.0044 15.0055L20.304 20.3051" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_120_426">
                                        <rect width="30" height="30" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </span>Очікують
                    </span><span class="label_span-mobile">Очікують</span><span class="label_counter"> (@Model.CarWithoutConfirmation.Count)</span>
                </label>
            </div>
            <div class="radio">
                <input type="radio" id="requests"
                       name="page" value="requests">
                <label for="requests" id="requests-label">
                    <span class="label_span">
                        <span class ="span_svg">
                            <svg width="25" height="25" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 1.5C0 0.947715 0.447715 0.5 1 0.5H1.24897C2.34933 0.5 3.32531 1.09612 3.84754 2H20.6819C22.5138 2 23.9179 3.62751 23.6495 5.43965L22.2421 14.9396C22.0242 16.4106 20.7615 17.5 19.2745 17.5H6.75103C5.24743 17.5 3.97607 16.3869 3.77735 14.8965L2.2402 3.36784C2.17395 2.87103 1.75017 2.5 1.24897 2.5H1C0.447715 2.5 0 2.05228 0 1.5ZM4.34218 4L5.75981 14.6322C5.82605 15.129 6.24983 15.5 6.75103 15.5H19.2745C19.7702 15.5 20.191 15.1369 20.2637 14.6465L21.6711 5.14655C21.7606 4.5425 21.2925 4 20.6819 4H4.34218ZM7 20C6.44772 20 6 20.4477 6 21C6 21.5523 6.44772 22 7 22C7.55228 22 8 21.5523 8 21C8 20.4477 7.55228 20 7 20ZM4 21C4 19.3431 5.34315 18 7 18C8.65685 18 10 19.3431 10 21C10 22.6569 8.65685 24 7 24C5.34315 24 4 22.6569 4 21ZM18 21C18 20.4477 18.4477 20 19 20C19.5523 20 20 20.4477 20 21C20 21.5523 19.5523 22 19 22C18.4477 22 18 21.5523 18 21ZM19 18C17.3431 18 16 19.3431 16 21C16 22.6569 17.3431 24 19 24C20.6569 24 22 22.6569 22 21C22 19.3431 20.6569 18 19 18Z" fill="currentColor" />
                            </svg>
                        </span>Запити
                    </span><span class="label_span-mobile">Запити</span><span class="label_counter"> (@Model.SendedBuyRequest.Count)</span>
                </label>
            </div>
            @if (isSelfAccount)
            {
                <div class="radio">
                    <input type="radio" id="favorite"
                           name="page" value="favorite">
                    <label for="favorite" id="favorite-label">
                        <span class="label_span">
                            <span class="span_svg">
                                <svg width="25" height="25" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M15.9998 28.8667C15.5865 28.8667 15.1865 28.8133 14.8532 28.6933C9.75984 26.9467 1.6665 20.7467 1.6665 11.5867C1.6665 6.92 5.43984 3.13333 10.0798 3.13333C12.3332 3.13333 14.4398 4.01333 15.9998 5.58666C17.5598 4.01333 19.6665 3.13333 21.9198 3.13333C26.5598 3.13333 30.3332 6.93333 30.3332 11.5867C30.3332 20.76 22.2398 26.9467 17.1465 28.6933C16.8132 28.8133 16.4132 28.8667 15.9998 28.8667ZM10.0798 5.13333C6.5465 5.13333 3.6665 8.02666 3.6665 11.5867C3.6665 20.6933 12.4265 25.76 15.5065 26.8133C15.7465 26.8933 16.2665 26.8933 16.5065 26.8133C19.5732 25.76 28.3465 20.7067 28.3465 11.5867C28.3465 8.02666 25.4665 5.13333 21.9332 5.13333C19.9065 5.13333 18.0265 6.08 16.8132 7.72C16.4398 8.22666 15.5865 8.22666 15.2132 7.72C13.9732 6.06666 12.1065 5.13333 10.0798 5.13333Z" fill="currentColor" />
                                </svg>
                            </span>Обране
                        </span><span class="label_span-mobile">Обране</span><span class="label_counter"> (@Model.Favorites.Count)</span>

                    </label>
                </div>
            }
        </div>
        <div class="line-separator">
            <div id="line"></div>
        </div>
    </div>
    <div class="profile_content">
        <div class="pages_buttons"></div>
        <div class="wrapper profile">
            <div id="cars-list" class="carList"></div>
        </div>
        <div class="pages_buttons"></div>
    </div>
</div>
<script src="~/js/profilePage.js" asp-append-version="true"></script>
@if (isAdmin && !isSelfAccount)
{
    <script src="~/js/setRemoveAdmin.js" asp-append-version="true"></script>
}