@using car_website.ViewModels;
@model IEnumerable<BuyRequestViewModel>
<div class="requests">
@foreach(var request in Model){
    <div class="buy-request">
        <div class="buy-request_buyer">
            <h3>Клієнт:</h3>
                <a asp-controller="User" asp-action="Detail" asp-route-id=@request.BuyerId>@request.BuyerName</a>
                <p>@request.BuyerPhone</p>
            </div>
            <div class="buy-request_car">
                <a asp-controller="Car" asp-action="Detail" asp-route-id=@request.CarId>@request.CarInfo</a>
                <img alt="photo" src=@request.CarPhotoURL>
            </div>
            <div class="buy-request_seller">
                <h3>Власник:</h3>
                <a asp-controller="User" asp-action="Detail" asp-route-id=@request.SellerId>@request.SellerName</a>
                <p>@request.SellerPhone</p>
            </div>
        </div>
}
</div>