@using car_website.ViewModels;
@model CarDetailViewModel
@{
    ViewData["Title"] = Model.Brand + " " + Model.Model;
}
<div class="wrapper_carDetail-before">
    <div class="wrapper_carDetail">
        <h2 class="title">@Model.Brand @Model.Model @Model.Year</h2>
        <div class="slider">
            @foreach (var photo in Model.PhotosURL)
            {
                <div class="slider_element">
                    <img src="@photo" class="slider_element-image" alt="photo" />
                    <img src="@photo" class="slider_element-background" alt="photo" />
                </div>
            }
        </div>
        <div class="priceBuy">
            <div class="car_container-right-price onDetail">
                <p class="car_container-right-price-USD">@Model.Price $</p>
                <p class="car_container-right-price-UAH">≈ @Model.PriceUAH грн</p>
            </div>
            @if (Model.Requested)
            {
                <button class="priceBuy_buy" id="buy-car" carId="@Model.Id" cancel>Скасувати запит</button>
            }
            else
            {
                <button class="priceBuy_buy" id="buy-car" carId="@Model.Id">Запит на покупку</button>
            }
        </div>
        <div id="buy-request-result"></div>
        <div class="car_container-info-parameters onDetail">
            <div class="car_container-info-parameters-column onDetail">
                <p class="car_container-info-parameters-column-race">@Model.Mileage тис. км</p>
                <p class="car_container-info-parameters-column-fuel">@Model.Fuel @Model.EngineCapacity л.</p>

                <p class="car_container-info-parameters-column-vin">@Model.VIN</p>

            </div>
            <div class="car_container-info-parameters-column onDetail">
                <p class="car_container-info-parameters-column-transmission">@Model.CarTransmission</p>

                <p class="car_container-info-parameters-column-driveline">@Model.Driveline</p>

            </div>
        </div>
        @if (!string.IsNullOrEmpty(Model.Description))
        {
            <div class="car_description">
                <p>@Model.Description</p>
            </div>
        }
        <h4>Вас може зацікавити:</h4>
        <div class="car_similar" id="similar-cars" carId="@Model.Id">
        </div>
    </div>
</div>
<script src="~/js/carDetailPage.js" asp-append-version="true"></script>