@using System.Security.Claims;
@using car_website.Data.Enum;
@using car_website.ViewModels;
@model CarDetailViewModel
@{
    ViewData["Title"] = Model.Brand + " " + Model.Model;
    string userId = "";
    if (User != null && User.Identity != null)
        userId = ((ClaimsIdentity)User.Identity)?.Claims?.FirstOrDefault()?.Value ?? "";
    bool isAdmin = !string.IsNullOrEmpty(userId) && ViewContext.HttpContext.Session.GetInt32("Role") != 0;
    bool isSelf = userId == Model.SellerId;
    string[] features = new string[]
        {
            "Протитуманні фари",
            "Сенсор дощу",
            "Кондиціонер",
            "Центральний замок",
            "Підігрів сидінь",
            "Датчик світла",
            "Сигналізація",
            "Шкіряний салон",
            "Круїз контроль",
            "Навігація GPS",
            "Підсилювач керма",
            "Другий комплект гуми",
            "Сервісна книга",
            "Електродзеркала",
            "Діод",
            "Парктронік",
            "ABS",
            "Тонування",
            "Склопідйомники",
            "Пневмопідвіска",
            "ESP",
            "Автомагнітола",
            "Легкосплавні диски"
        };

}
<div class="wrapper_carDetail-before">
    <div class="wrapper_carDetail">
        <h2 class="title">@Model.Brand @Model.Model @Model.Year</h2>
        <div class="slider">
            <button id="prev">
                <span>
                    <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.29289 0.292893C6.68342 -0.0976311 7.31658 -0.0976311 7.70711 0.292893L13.7071 6.29289C14.0976 6.68342 14.0976 7.31658 13.7071 7.70711C13.3166 8.09763 12.6834 8.09763 12.2929 7.70711L7 2.41421L1.70711 7.70711C1.31658 8.09763 0.683418 8.09763 0.292893 7.70711C-0.0976311 7.31658 -0.0976311 6.68342 0.292893 6.29289L6.29289 0.292893Z" fill="currentColor" />
                    </svg>
                </span>
            </button>
            @foreach (var photo in Model.PhotosURL)
            {
                <div class="slider_element">
                    <img src="@photo" class="slider_element-image" alt="photo" />
                    <img src="@photo" class="slider_element-background" alt="photo" />
                </div>
            }
            @if (!string.IsNullOrEmpty(Model.VideoUrl))
            {
                <div class="slider_element">
                    <iframe src="@Model.VideoUrl" frameborder="0" allowfullscreen></iframe>
                </div>
            }
            <button id="next">
                <span>
                    <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.29289 0.292893C6.68342 -0.0976311 7.31658 -0.0976311 7.70711 0.292893L13.7071 6.29289C14.0976 6.68342 14.0976 7.31658 13.7071 7.70711C13.3166 8.09763 12.6834 8.09763 12.2929 7.70711L7 2.41421L1.70711 7.70711C1.31658 8.09763 0.683418 8.09763 0.292893 7.70711C-0.0976311 7.31658 -0.0976311 6.68342 0.292893 6.29289L6.29289 0.292893Z" fill="currentColor" />
                    </svg>
                </span>
            </button>
        </div>
        <div class="priceBuy">
            <div class="car_container-right-price onDetail">
                <p class="car_container-right-price-USD">@Model.Price $</p>
                <p class="car_container-right-price-UAH">≈ @Model.PriceUAH грн</p>
            </div>
            <div class="priceBuy_right">
                @if (isSelf || isAdmin)
                {
                    <a class="fix_carDetail" asp-controller="Car" asp-action="Edit" asp-route-id=@Model.Id>Редагувати</a>
                }
                @if (!isSelf)
                {
                    if (!string.IsNullOrEmpty(userId))
                    {
                        @if (Model.Requested)
                        {
                            <button class="priceBuy_buy cancelBuy" id="buy-car" carId="@Model.Id" cancel>Скасувати запит</button>
                        }
                        else
                        {
                            <button class="priceBuy_buy" id="buy-car" carId="@Model.Id">Запит на покупку</button>
                        }
                    }
                    else
                    {
                        <button class="priceBuy_buy" id="buy-car-notLogged">Зв'язатися з менеджером</button>
                    }
                }
            </div>
        </div>

        <div id="buy-request-result"></div>
        <div class="car_container-info-parameters onDetail">
            <div class="car_container-info-parameters-column onDetail">
                <p class="car_container-info-parameters-column-race">@Model.Mileage тис. км</p>
                <p class="car_container-info-parameters-column-fuel">@Model.Fuel, @Model.EngineCapacity л.</p>

                <p class="car_container-info-parameters-column-vin">@Model.VIN</p>

            </div>
            <div class="car_container-info-parameters-column onDetail">
                <p class="car_container-info-parameters-column-transmission">@Model.CarTransmission</p>

                <p class="car_container-info-parameters-column-driveline">@Model.Driveline</p>

            </div>
        </div>
        @if (!string.IsNullOrEmpty(Model.Description))
        {
            <div class="car_description">
                <p>@Model.Description</p>
            </div>
        }
        @if(Model.Options!=null){
        <div class="features">
            @for (int i = 0; i < features.Count(); i++)
            {
                if (Model.Options.Contains((CarOptions)i))
                {
                        <p class="feature">
                            <span class="feature-installed"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_235_308)"><path d="M5 12L10 17L20 7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></g><defs><clipPath id="clip0_235_308"><rect width="24" height="24" fill="white" /></clipPath></defs></svg></span>
                            @features[i]</p>
                }
                else
                {
                        <p class="feature">
                            <span class="feature-not-installed"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.4143 12.0002L18.7072 6.70725C19.0982 6.31625 19.0982 5.68425 18.7072 5.29325C18.3162 4.90225 17.6843 4.90225 17.2933 5.29325L12.0002 10.5862L6.70725 5.29325C6.31625 4.90225 5.68425 4.90225 5.29325 5.29325C4.90225 5.68425 4.90225 6.31625 5.29325 6.70725L10.5862 12.0002L5.29325 17.2933C4.90225 17.6843 4.90225 18.3162 5.29325 18.7072C5.48825 18.9022 5.74425 19.0002 6.00025 19.0002C6.25625 19.0002 6.51225 18.9022 6.70725 18.7072L12.0002 13.4143L17.2933 18.7072C17.4883 18.9022 17.7442 19.0002 18.0002 19.0002C18.2562 19.0002 18.5122 18.9022 18.7072 18.7072C19.0982 18.3162 19.0982 17.6843 18.7072 17.2933L13.4143 12.0002Z" fill="currentColor" /></svg></span>
                            @features[i]</p>
                }
            }
        </div>
        }
        <h4>Вас може зацікавити:</h4>
        <div class="car_similar" id="similar-cars" carId="@Model.Id">
        </div>
    </div>
</div>
<div id="popup" class="popup">
    <div class="popup_content">
        <span id="closePopup" class="close">&times;</span>
        <p class="popup_header">Заповніть анкету</p>
        <div class="form-group">
            <label>Як до Вас звертатись?</label>
            <input type="text" class="form-control" id="request-name" placeholder="Іванов Іван Іванович">
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Номер тел.</label>
            <input type="number" class="form-control" placeholder="+380xxxxxxxxx" id="request-phone">
            <span class="text-danger"></span>
        </div>
        <button class="sell-button" id="notLoggedIngRequestSend">Надіслати</button>
        <div class="log-reg-change"><p>Або <a asp-controller="User" asp-action="Register">зареєструйтесь</a></p></div>
    </div>
</div>
<script src="~/js/carDetailPage.js" asp-append-version="true"></script>