@using System.Security.Claims;
@using car_website.Data.Enum;
@using car_website.ViewModels;
@using Microsoft.AspNetCore.Http;
@model CarDetailViewModel
@{
    ViewData["Title"] = Model.Brand + " " + Model.Model;
    string userId = "";
    if (User != null && User.Identity != null)
        userId = ((ClaimsIdentity)User.Identity)?.Claims?.FirstOrDefault()?.Value ?? "";
    bool isAdmin = !string.IsNullOrEmpty(userId) && ViewContext.HttpContext.Session.GetInt32("Role") != 0;
    bool isSelf = userId == Model.SellerId;
    string[] features = new string[]
        {
            "Протитуманні фари",
            "Сенсор дощу",
            "Кондиціонер",
            "Центральний замок",
            "Підігрів сидінь",
            "Датчик світла",
            "Сигналізація",
            "Шкіряний салон",
            "Круїз контроль",
            "Навігація GPS",
            "Підсилювач керма",
            "Другий комплект гуми",
            "Сервісна книга",
            "Електродзеркала",
            "Діод",
            "Парктронік",
            "ABS",
            "Тонування",
            "Склопідйомники",
            "Пневмопідвіска",
            "ESP",
            "Автомагнітола",
            "Легкосплавні диски"
        };

}
<div class="wrapper_carDetail-before">
    <div class="wrapper_carDetail">
        <h2 class="title">@Model.Brand @Model.Model @Model.Year</h2>
        <div class="slider">
            <button id="prev">
                <span>
                    <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.29289 0.292893C6.68342 -0.0976311 7.31658 -0.0976311 7.70711 0.292893L13.7071 6.29289C14.0976 6.68342 14.0976 7.31658 13.7071 7.70711C13.3166 8.09763 12.6834 8.09763 12.2929 7.70711L7 2.41421L1.70711 7.70711C1.31658 8.09763 0.683418 8.09763 0.292893 7.70711C-0.0976311 7.31658 -0.0976311 6.68342 0.292893 6.29289L6.29289 0.292893Z" fill="currentColor" />
                    </svg>
                </span>
            </button>
            @foreach (var photo in Model.PhotosURL)
            {
                    @if(photo==Model.PhotosURL[0]){
                <div class="slider_element">
                    <img src="@photo" class="slider_element-image" alt="photo" />
                        <img src="@photo" class="slider_element-background" alt="photo" />
                </div>
                    }
                    else
                    {
                    <div class="slider_element" style="display: none;">
                        <img src="@photo" class="slider_element-image" alt="photo"/>
                        <img src="@photo" class="slider_element-background" alt="photo"/>
                </div>
                    }
            }
            @if (!string.IsNullOrEmpty(Model.VideoUrl))
            {
                <div class="slider_element">
                    <iframe src="@Model.VideoUrl" frameborder="0" allowfullscreen></iframe>
                </div>
            }
            <button id="next">
                <span>
                    <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.29289 0.292893C6.68342 -0.0976311 7.31658 -0.0976311 7.70711 0.292893L13.7071 6.29289C14.0976 6.68342 14.0976 7.31658 13.7071 7.70711C13.3166 8.09763 12.6834 8.09763 12.2929 7.70711L7 2.41421L1.70711 7.70711C1.31658 8.09763 0.683418 8.09763 0.292893 7.70711C-0.0976311 7.31658 -0.0976311 6.68342 0.292893 6.29289L6.29289 0.292893Z" fill="currentColor" />
                    </svg>
                </span>
            </button>
        </div>
        <div class="priceBuy">
            <div class="car_container-right-price onDetail">
                <p class="car_container-right-price-USD">@Model.Price $</p>
                <p class="car_container-right-price-UAH">≈ @Model.PriceUAH грн</p>
            </div>
            <div class="priceBuy_right">
                @if (isAdmin)
                {
                    if (Model.Priority < 2)
                    {
                        <button id="top" class="priceBuy_buy" carId="@Model.Id">В топ</button>
                    }
                    else
                    {
                        <button id="top" class="priceBuy_buy cancelBuy" cancel carId="@Model.Id">Прибрати з топу</button>
                    }
                    <script src="~/js/moveToTop.js" asp-append-version="true"></script>
                }
                @if (isSelf || isAdmin)
                {
                    <a class="priceBuy_buy" asp-controller="Car" asp-action="Edit" asp-route-id=@Model.Id>Редагувати</a>
                }
                
               
                @if (!isSelf)
                {
                    if (!string.IsNullOrEmpty(userId))
                    {
                        @if (Model.Requested)
                        {
                            <button class="priceBuy_buy cancelBuy" id="buy-car" carId="@Model.Id" cancel>Скасувати запит</button>
                        }
                        else
                        {
                            <button class="priceBuy_buy" id="buy-car" carId="@Model.Id">Запит на покупку</button>
                        }
                    }
                    else
                    {
                        <button class="priceBuy_buy" id="buy-car-notLogged">Зв'язатися з менеджером</button>
                    }
                }
            </div>
        </div>

        <div id="buy-request-result"></div>
        <div class="car_container-info-parameters onDetail">
            <div class="car_container-info-parameters-column onDetail">
                <p class="car_container-info-parameters-column-text"><span><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_14_212)"><path d="M15.1486 9.3893C15.1486 9.3893 13.534 13.9404 12.7667 14.735C11.9994 15.5296 10.7333 15.5517 9.93872 14.7844C9.14412 14.0171 9.12202 12.7509 9.88932 11.9564C10.6566 11.1618 15.1486 9.3893 15.1486 9.3893Z" stroke="currentColor" stroke-width="2" stroke-linejoin="round" /><path d="M19.4246 19.4246C21.3248 17.5245 22.5 14.8995 22.5 12C22.5 6.201 17.799 1.5 12 1.5C6.201 1.5 1.5 6.201 1.5 12C1.5 14.8995 2.67525 17.5245 4.57538 19.4246" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /><path d="M12 2V4" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /><path d="M19.4227 5.57105L17.8684 6.82965" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /><path d="M21.2613 13.6164L19.3126 13.1665" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /><path d="M2.73877 13.6164L4.68751 13.1665" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /><path d="M4.57733 5.57105L6.13162 6.82965" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></g><defs><clipPath id="clip0_14_212"><rect width="24" height="24" fill="white" /></clipPath></defs></svg></span>@Model.Mileage тис. км</p>
                <p class="car_container-info-parameters-column-text"><span><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17.5 22.75H3.5C3.09 22.75 2.75 22.41 2.75 22V5.00001C2.75 2.76001 4.26 1.25001 6.5 1.25001H14.5C16.74 1.25001 18.25 2.76001 18.25 5.00001V22C18.25 22.41 17.91 22.75 17.5 22.75ZM4.25 21.25H16.75V5.00001C16.75 3.59001 15.91 2.75001 14.5 2.75001H6.5C5.09 2.75001 4.25 3.59001 4.25 5.00001V21.25Z" fill="currentColor" /><path d="M18.9999 22.75H1.99994C1.58994 22.75 1.24994 22.41 1.24994 22C1.24994 21.59 1.58994 21.25 1.99994 21.25H18.9999C19.4099 21.25 19.7499 21.59 19.7499 22C19.7499 22.41 19.4099 22.75 18.9999 22.75Z" fill="currentColor" /><path d="M12.6102 10.75H8.38023C6.75023 10.75 5.74023 9.74 5.74023 8.11V6.88C5.74023 5.25 6.75023 4.24001 8.38023 4.24001H12.6102C14.2402 4.24001 15.2502 5.25 15.2502 6.88V8.11C15.2502 9.74 14.2402 10.75 12.6102 10.75ZM8.39023 5.75C7.58023 5.75 7.25023 6.08 7.25023 6.89V8.12C7.25023 8.93 7.58023 9.25999 8.39023 9.25999H12.6202C13.4302 9.25999 13.7602 8.93 13.7602 8.12V6.89C13.7602 6.08 13.4302 5.75 12.6202 5.75H8.39023Z" fill="currentColor" /><path d="M9.49994 13.75H6.49994C6.08994 13.75 5.74994 13.41 5.74994 13C5.74994 12.59 6.08994 12.25 6.49994 12.25H9.49994C9.90994 12.25 10.2499 12.59 10.2499 13C10.2499 13.41 9.90994 13.75 9.49994 13.75Z" fill="currentColor" /><path d="M17.5 16.76C17.09 16.76 16.75 16.43 16.75 16.01C16.75 15.6 17.08 15.26 17.5 15.26L21.25 15.25V10.46L19.66 9.66998C19.29 9.47998 19.14 9.02998 19.32 8.65998C19.51 8.28998 19.96 8.13999 20.33 8.31999L22.33 9.31999C22.58 9.44999 22.74 9.70998 22.74 9.98998V15.99C22.74 16.4 22.41 16.74 21.99 16.74L17.5 16.76Z" fill="currentColor" /></svg></span>@Model.Fuel, @Model.EngineCapacity л.</p>
                @if (!string.IsNullOrEmpty(Model.VIN))
                {
                    <p class="car_container-info-parameters-column-text" id="vin" vin="@Model.VIN"><span><svg width="24" height="24" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24.9997 14.6876H4.9997C4.7122 14.6876 4.4497 14.5626 4.2747 14.3376C4.0997 14.1251 4.0247 13.8251 4.0872 13.5501L5.4997 6.8001C5.9622 4.6126 6.8997 2.6001 10.6122 2.6001H19.3997C23.1122 2.6001 24.0497 4.6251 24.5122 6.8001L25.9247 13.5626C25.9872 13.8376 25.9122 14.1251 25.7372 14.3501C25.5497 14.5626 25.2872 14.6876 24.9997 14.6876ZM6.1497 12.8126H23.8372L22.6622 7.1876C22.3122 5.5501 21.8997 4.4751 19.3872 4.4751H10.6122C8.0997 4.4751 7.6872 5.5501 7.3372 7.1876L6.1497 12.8126Z" fill="currentColor" /><path d="M24.9495 28.4376H22.5995C20.5745 28.4376 20.187 27.2751 19.937 26.5126L19.687 25.7626C19.362 24.8126 19.3245 24.6876 18.1995 24.6876H11.7995C10.6745 24.6876 10.5995 24.9001 10.312 25.7626L10.062 26.5126C9.7995 27.2876 9.4245 28.4376 7.3995 28.4376H5.0495C4.062 28.4376 3.112 28.0251 2.4495 27.3001C1.7995 26.5876 1.487 25.6376 1.5745 24.6876L2.2745 17.0751C2.462 15.0126 3.012 12.8126 7.0245 12.8126H22.9745C26.987 12.8126 27.5245 15.0126 27.7245 17.0751L28.4245 24.6876C28.512 25.6376 28.1995 26.5876 27.5495 27.3001C26.887 28.0251 25.937 28.4376 24.9495 28.4376ZM11.7995 22.8126H18.1995C20.4745 22.8126 21.012 23.8251 21.462 25.1501L21.7245 25.9251C21.937 26.5626 21.937 26.5751 22.612 26.5751H24.962C25.4245 26.5751 25.862 26.3876 26.1745 26.0501C26.4745 25.7251 26.612 25.3126 26.5745 24.8751L25.8745 17.2626C25.712 15.5751 25.512 14.7001 22.9995 14.7001H7.0245C4.4995 14.7001 4.2995 15.5751 4.1495 17.2626L3.4495 24.8751C3.412 25.3126 3.5495 25.7251 3.8495 26.0501C4.1495 26.3876 4.5995 26.5751 5.062 26.5751H7.412C8.087 26.5751 8.087 26.5626 8.2995 25.9376L8.5495 25.1751C8.862 24.1751 9.3245 22.8126 11.7995 22.8126Z" fill="currentColor" /><path d="M4.99951 10.9376H3.74951C3.23701 10.9376 2.81201 10.5126 2.81201 10.0001C2.81201 9.48759 3.23701 9.06259 3.74951 9.06259H4.99951C5.51201 9.06259 5.93701 9.48759 5.93701 10.0001C5.93701 10.5126 5.51201 10.9376 4.99951 10.9376Z" fill="currentColor" /><path d="M26.2495 10.9376H24.9995C24.487 10.9376 24.062 10.5126 24.062 10.0001C24.062 9.48759 24.487 9.06259 24.9995 9.06259H26.2495C26.762 9.06259 27.187 9.48759 27.187 10.0001C27.187 10.5126 26.762 10.9376 26.2495 10.9376Z" fill="currentColor" /><path d="M14.9995 7.18759C14.487 7.18759 14.062 6.76259 14.062 6.25009V3.75009C14.062 3.23759 14.487 2.81259 14.9995 2.81259C15.512 2.81259 15.937 3.23759 15.937 3.75009V6.25009C15.937 6.76259 15.512 7.18759 14.9995 7.18759Z" fill="currentColor" /><path d="M16.8745 7.18759H13.1245C12.612 7.18759 12.187 6.76259 12.187 6.25009C12.187 5.73759 12.612 5.31259 13.1245 5.31259H16.8745C17.387 5.31259 17.812 5.73759 17.812 6.25009C17.812 6.76259 17.387 7.18759 16.8745 7.18759Z" fill="currentColor" /><path d="M11.2495 19.6876H7.49951C6.98701 19.6876 6.56201 19.2626 6.56201 18.7501C6.56201 18.2376 6.98701 17.8126 7.49951 17.8126H11.2495C11.762 17.8126 12.187 18.2376 12.187 18.7501C12.187 19.2626 11.762 19.6876 11.2495 19.6876Z" fill="currentColor" /><path d="M22.4995 19.6876H18.7495C18.237 19.6876 17.812 19.2626 17.812 18.7501C17.812 18.2376 18.237 17.8126 18.7495 17.8126H22.4995C23.012 17.8126 23.437 18.2376 23.437 18.7501C23.437 19.2626 23.012 19.6876 22.4995 19.6876Z" fill="currentColor" /></svg></span>@Model.VIN</p>
                }

            </div>
            <div class="car_container-info-parameters-column onDetail">
                <p class="car_container-info-parameters-column-text"><span><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12 15.75C9.93 15.75 8.25 14.07 8.25 12C8.25 9.93 9.93 8.25 12 8.25C14.07 8.25 15.75 9.93 15.75 12C15.75 14.07 14.07 15.75 12 15.75ZM12 9.75C10.76 9.75 9.75 10.76 9.75 12C9.75 13.24 10.76 14.25 12 14.25C13.24 14.25 14.25 13.24 14.25 12C14.25 10.76 13.24 9.75 12 9.75Z" fill="currentColor" /><path d="M15.21 22.19C15 22.19 14.79 22.16 14.58 22.11C13.96 21.94 13.44 21.55 13.11 21L12.99 20.8C12.4 19.78 11.59 19.78 11 20.8L10.89 20.99C10.56 21.55 10.04 21.95 9.42 22.11C8.79 22.28 8.14 22.19 7.59 21.86L5.87 20.87C5.26 20.52 4.82 19.95 4.63 19.26C4.45 18.57 4.54 17.86 4.89 17.25C5.18 16.74 5.26 16.28 5.09 15.99C4.92 15.7 4.49 15.53 3.9 15.53C2.44 15.53 1.25 14.34 1.25 12.88V11.12C1.25 9.66 2.44 8.47 3.9 8.47C4.49 8.47 4.92 8.3 5.09 8.01C5.26 7.72 5.19 7.26 4.89 6.75C4.54 6.14 4.45 5.42 4.63 4.74C4.81 4.05 5.25 3.48 5.87 3.13L7.6 2.14C8.73 1.47 10.22 1.86 10.9 3.01L11.02 3.21C11.61 4.23 12.42 4.23 13.01 3.21L13.12 3.02C13.8 1.86 15.29 1.47 16.43 2.15L18.15 3.14C18.76 3.49 19.2 4.06 19.39 4.75C19.57 5.44 19.48 6.15 19.13 6.76C18.84 7.27 18.76 7.73 18.93 8.02C19.1 8.31 19.53 8.48 20.12 8.48C21.58 8.48 22.77 9.67 22.77 11.13V12.89C22.77 14.35 21.58 15.54 20.12 15.54C19.53 15.54 19.1 15.71 18.93 16C18.76 16.29 18.83 16.75 19.13 17.26C19.48 17.87 19.58 18.59 19.39 19.27C19.21 19.96 18.77 20.53 18.15 20.88L16.42 21.87C16.04 22.08 15.63 22.19 15.21 22.19ZM12 18.49C12.89 18.49 13.72 19.05 14.29 20.04L14.4 20.23C14.52 20.44 14.72 20.59 14.96 20.65C15.2 20.71 15.44 20.68 15.64 20.56L17.37 19.56C17.63 19.41 17.83 19.16 17.91 18.86C17.99 18.56 17.95 18.25 17.8 17.99C17.23 17.01 17.16 16 17.6 15.23C18.04 14.46 18.95 14.02 20.09 14.02C20.73 14.02 21.24 13.51 21.24 12.87V11.11C21.24 10.48 20.73 9.96 20.09 9.96C18.95 9.96 18.04 9.52 17.6 8.75C17.16 7.98 17.23 6.97 17.8 5.99C17.95 5.73 17.99 5.42 17.91 5.12C17.83 4.82 17.64 4.58 17.38 4.42L15.65 3.43C15.22 3.17 14.65 3.32 14.39 3.76L14.28 3.95C13.71 4.94 12.88 5.5 11.99 5.5C11.1 5.5 10.27 4.94 9.7 3.95L9.59 3.75C9.34 3.33 8.78 3.18 8.35 3.43L6.62 4.43C6.36 4.58 6.16 4.83 6.08 5.13C6 5.43 6.04 5.74 6.19 6C6.76 6.98 6.83 7.99 6.39 8.76C5.95 9.53 5.04 9.97 3.9 9.97C3.26 9.97 2.75 10.48 2.75 11.12V12.88C2.75 13.51 3.26 14.03 3.9 14.03C5.04 14.03 5.95 14.47 6.39 15.24C6.83 16.01 6.76 17.02 6.19 18C6.04 18.26 6 18.57 6.08 18.87C6.16 19.17 6.35 19.41 6.61 19.57L8.34 20.56C8.55 20.69 8.8 20.72 9.03 20.66C9.27 20.6 9.47 20.44 9.6 20.23L9.71 20.04C10.28 19.06 11.11 18.49 12 18.49Z" fill="currentColor" /></svg></span>@Model.CarTransmission</p>
                <p class="car_container-info-parameters-column-text">
                    <span>
                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet"><g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="currentColor" stroke="none"><path d="M950 5007 c-50 -16 -136 -103 -149 -152 -7 -26 -11 -208 -11 -531 l0 -490 28 -55 c33 -66 93 -113 162 -128 80 -17 356 -14 419 5 64 19 127 73 155 134 18 39 21 70 24 243 l4 197 143 0 142 0 6 -58 c5 -66 32 -124 74 -164 36 -35 109 -68 151 -68 18 0 40 -8 52 -20 19 -19 20 -33 20 -252 0 -268 5 -285 83 -354 50 -44 102 -64 166 -64 l41 0 0 -1180 0 -1180 -439 0 -439 0 -4 198 c-3 172 -6 203 -24 242 -28 61 -91 115 -155 134 -72 22 -364 22 -435 1 -66 -19 -121 -67 -150 -129 l-24 -51 0 -490 c0 -323 4 -504 11 -530 14 -53 99 -136 155 -153 59 -17 406 -16 457 2 57 21 100 58 132 117 29 54 29 55 33 257 l4 202 978 0 978 0 4 -202 c4 -202 4 -203 33 -257 32 -59 75 -96 132 -117 58 -20 404 -19 466 2 56 19 131 97 147 152 6 23 10 225 10 527 l0 490 -24 51 c-29 62 -84 110 -150 129 -71 21 -363 21 -435 -1 -64 -19 -127 -73 -155 -134 -18 -39 -21 -70 -24 -242 l-4 -198 -439 0 -439 0 0 1180 0 1180 43 0 c97 0 188 58 228 145 16 35 19 68 19 273 0 219 1 233 20 252 12 12 34 20 53 20 41 0 114 33 150 68 42 40 69 98 74 164 l6 58 142 0 143 0 4 -197 c3 -173 6 -204 24 -243 28 -61 91 -115 155 -134 63 -19 339 -22 419 -5 69 15 129 62 163 128 l27 55 0 490 c0 303 -4 505 -10 528 -16 55 -91 133 -147 152 -62 21 -408 22 -466 2 -57 -21 -100 -58 -132 -117 -29 -54 -29 -55 -33 -256 l-4 -203 -144 0 -144 0 0 38 c0 96 -50 182 -132 227 l-53 30 -505 0 c-502 0 -505 0 -546 -22 -87 -47 -132 -115 -141 -214 l-6 -59 -142 0 -143 0 -4 203 c-4 201 -4 202 -33 256 -32 59 -75 96 -132 117 -48 17 -411 17 -463 1z m420 -206 c6 -13 10 -180 10 -474 0 -429 -1 -455 -19 -471 -16 -14 -40 -16 -187 -14 -168 3 -168 3 -181 28 -10 19 -12 126 -11 478 3 390 5 454 18 462 8 5 92 10 187 10 160 0 173 -1 183 -19z m2750 9 c13 -8 15 -72 18 -462 1 -352 -1 -459 -11 -478 -13 -25 -13 -25 -181 -28 -147 -2 -171 0 -187 14 -18 16 -19 42 -19 471 0 294 4 461 10 474 10 18 23 19 183 19 95 0 179 -5 187 -10z m-1089 -290 c18 -10 19 -23 19 -184 0 -196 1 -192 -77 -205 -95 -15 -155 -60 -194 -146 -16 -35 -19 -69 -19 -268 0 -138 -4 -236 -10 -248 -10 -18 -23 -19 -190 -19 -167 0 -180 1 -190 19 -6 12 -10 110 -10 248 0 199 -3 233 -19 268 -39 86 -99 131 -194 146 -78 13 -77 9 -77 205 0 154 2 174 18 183 24 14 916 15 943 1z m-1669 -3257 c17 -15 18 -43 18 -470 0 -294 -4 -461 -10 -474 -10 -18 -23 -19 -183 -19 -95 0 -179 5 -187 10 -13 8 -15 72 -15 473 0 379 3 467 14 480 20 25 335 25 363 0z m2765 -13 c10 -19 12 -126 11 -478 -3 -390 -5 -454 -18 -462 -8 -5 -92 -10 -187 -10 -160 0 -173 1 -183 19 -6 13 -10 179 -10 472 0 409 2 454 17 471 15 17 32 18 187 16 l170 -3 13 -25z" /></g></svg>
                    </span>@Model.Driveline
                </p>

            </div>
        </div>
        @if (!string.IsNullOrEmpty(Model.Description))
        {
            <div class="car_description">
                <p>@Model.Description</p>
            </div>
        }
        @if (Model.Options != null)
        {
            <div class="features">
                @for (int i = 0; i < features.Count(); i++)
                {
                    if (Model.Options.Contains((CarOptions)i))
                    {
                        <p class="feature">
                            <span class="feature-installed"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_235_308)"><path d="M5 12L10 17L20 7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></g><defs><clipPath id="clip0_235_308"><rect width="24" height="24" fill="white" /></clipPath></defs></svg></span>
                            @features[i]
                        </p>
                    }
                    else
                    {
                        <p class="feature">
                            <span class="feature-not-installed"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M13.4143 12.0002L18.7072 6.70725C19.0982 6.31625 19.0982 5.68425 18.7072 5.29325C18.3162 4.90225 17.6843 4.90225 17.2933 5.29325L12.0002 10.5862L6.70725 5.29325C6.31625 4.90225 5.68425 4.90225 5.29325 5.29325C4.90225 5.68425 4.90225 6.31625 5.29325 6.70725L10.5862 12.0002L5.29325 17.2933C4.90225 17.6843 4.90225 18.3162 5.29325 18.7072C5.48825 18.9022 5.74425 19.0002 6.00025 19.0002C6.25625 19.0002 6.51225 18.9022 6.70725 18.7072L12.0002 13.4143L17.2933 18.7072C17.4883 18.9022 17.7442 19.0002 18.0002 19.0002C18.2562 19.0002 18.5122 18.9022 18.7072 18.7072C19.0982 18.3162 19.0982 17.6843 18.7072 17.2933L13.4143 12.0002Z" fill="currentColor" /></svg></span>
                            @features[i]
                        </p>
                    }
                }
            </div>
        }
        @if (isAdmin)
        {
            <div id="seller" sellerId=@Model.SellerId></div>
            <script src="~/js/getUser.js" asp-append-version="true"></script>
        }
        <h4>Вас може зацікавити:</h4>
        <div class="car_similar" id="similar-cars" carId="@Model.Id">
        </div>
    </div>
</div>
<div id="img_full" class="popup">
    <span class="close">&times;</span>
    <div class="popup_images">
        @foreach (var photo in Model.PhotosURL)
        {
            <img src="@photo" alt="photo" />
        }
    </div>
</div>
<div id="popup" class="popup">
    <div class="popup_content">
        <span id="closePopup" class="close">&times;</span>
        <p class="popup_header">Заповніть анкету</p>
        <div class="form-group">
            <label>Як до Вас звертатись?</label>
            <input type="text" class="form-control" id="request-name" placeholder="Ваше ім'я'">
            <span class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Номер тел.</label>
            <input type="number" class="form-control" placeholder="+380xxxxxxxxx" id="request-phone">
            <span class="text-danger"></span>
        </div>
        <button class="sell-button" id="notLoggedIngRequestSend">Надіслати</button>
        <div class="log-reg-change"><p>Або <a asp-controller="User" asp-action="Register">зареєструйтесь</a></p></div>
    </div>
</div>

<script src="~/js/carDetailPage.js" asp-append-version="true"></script>