@using car_website.ViewModels;
@model IndexPageViewModel
@{
    ViewData["Title"] = "Головна";
    ViewData["DescriptionSearch"] = "Ласкаво просимо до 1Auto — вашого надійного партнера у світі автомобілів! Ми пропонуємо широкий вибір автомобілів, вигідні умови, а також детальні описи та фото моделей. 1Auto — ваш супутник на шляху до автомобіля мрії!";
}
<button id="open-filters">
    <span>
    <svg width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_289_309)">
            <path d="M2 3.50006H22" stroke="#fff" stroke-width="2" stroke-linecap="round" />
            <path d="M2 11.5001H7.5" stroke="#fff" stroke-width="2" stroke-linecap="round" />
            <path d="M2 19.5001H7.5" stroke="#fff" stroke-width="2" stroke-linecap="round" />
            <path d="M15.75 17.0001C18.0972 17.0001 20 15.0973 20 12.7501C20 10.4029 18.0972 8.50006 15.75 8.50006C13.4028 8.50006 11.5 10.4029 11.5 12.7501C11.5 15.0973 13.4028 17.0001 15.75 17.0001Z" stroke="#fff" stroke-width="2" />
            <path d="M18.5 16.0001L22 19.5253" stroke="#fff" stroke-width="2" stroke-linecap="round" />
        </g>
        <defs>
            <clipPath id="clip0_289_309">
                <rect width="24" height="24" fill="white" />
            </clipPath>
        </defs>
    </svg>
    </span>
</button>
<div class="wrapper">
    <div class="filters_wrapper">
        <div class="filters_before">
            <p>Авто у продажу: @Model.CarsCount</p>
            <a asp-controller="Car" asp-action="SelectCreateMethod">Продати авто</a>
            
            <div class="custom-select">
                <div class="select-btn sorting-btn" id="sortingButton">
                    <span>Сортування</span>
                    <i class="uil uil-angle-down"></i>
                </div>
                <div class="content">
                    <ul class="options" id="sortings"></ul>
                </div>
            </div>
            <div class ="filters">
                <div class="filters_scroll">
            <div class="filters_selectors">
                <label>Тип кузова</label>
                <div class="custom-select">
                    <div class="select-btn" id="bodiesButton">
                        <span>Усі</span>
                        <i class="uil uil-angle-down"></i>
                    </div>
                    <div class="content">
                        <ul class="options" id="bodies"></ul>
                    </div>
                </div>
                <label>Марка</label>
                <div class="custom-select">
                    <div class="select-btn" id="brandsButton">
                        <span>Усі</span>
                        <i class="uil uil-angle-down"></i>
                    </div>
                    <div class="content">
                        <div class="search">
                            <i class="uil uil-search"></i>
                            <input spellcheck="false" type="text" placeholder="Пошук" id="searchCar">
                        </div>
                        <ul class="options" id="brands"></ul>
                    </div>
                </div>
                <label>Модель</label>
                <div class="custom-select">
                    <div class="select-btn" id="modelsButton">
                        <span>Усі</span>
                        <i class="uil uil-angle-down"></i>
                    </div>
                    <div class="content">
                        <div class="search">
                            <i class="uil uil-search"></i>
                            <input spellcheck="false" type="text" placeholder="Пошук" id="searchModel">
                        </div>
                        <ul class="options" id="models"></ul>
                    </div>
                </div>
                <label id="year-label">Рік</label>
                <div class="range-slider">
                    <span>Від:</span>
                    <div class="range">
                        <div class="rangeValue">
                            <span id="min-year-value">2000</span>
                        </div>
                        <div class="field">
                            <div class="value left">2000</div>
                            <input type="range" id="min-year-slider" min="2000" max="@DateTime.Now.Year" value="1980" step="1" />
                            <div class="value right" id="min-max-year">@DateTime.Now.Year</div>
                        </div>
                    </div>
                </div>
                <div class="range-slider">
                    <span>До:</span>
                    <div class="range">
                        <div class="rangeValue">
                            <span id="max-year-value">@DateTime.Now.Year</span>
                        </div>
                        <div class="field">
                            <div class="value left" id="max-min-year">2000</div>
                            <input type="range" id="max-year-slider" min="2000" max="@DateTime.Now.Year" value="@DateTime.Now.Year" step="1" />
                            <div class="value right">@DateTime.Now.Year</div>
                        </div>
                    </div>
                </div>
                <label>Ціна ($)</label>
                <div class="price_input">
                    <input class="input" type="number" maxlength="9" id="price_min-input" placeholder="Від" />
                    <input class="input" type="number" maxlength="9" id="price_max-input" placeholder="До" />
                </div>
                @*<label>Пробіг (тис. км)</label>
                <div class="price_input">
                    <input class="input" type="number" maxlength="3" id="race_min-input" placeholder="Від" />
                    <input class="input" type="number" maxlength="3" id="race_max-input" placeholder="До" />
                        </div>*@
                <label>Тип трансмісії</label>
                <div class="custom-select">
                    <div class="select-btn" id="transmissionsButton">
                        <span>Усі</span>
                        <i class="uil uil-angle-down"></i>
                    </div>
                    <div class="content">
                        <ul class="options" id="transmissions"></ul>
                    </div>
                </div>
                <label>Тип палива</label>
                <div class="custom-select">
                    <div class="select-btn" id="fuelsButton">
                        <span>Усі</span>
                        <i class="uil uil-angle-down"></i>
                    </div>
                    <div class="content">
                        <ul class="options" id="fuels"></ul>
                    </div>
                </div>
                <label>Тип приводу</label>
                <div class="custom-select">
                    <div class="select-btn" id="drivelinesButton">
                        <span>Усі</span>
                        <i class="uil uil-angle-down"></i>
                    </div>
                    <div class="content">
                        <ul class="options" id="drivelines"></ul>
                    </div>
                </div>
                <label id="engine-volume-lbl">Об’єм двигуна (л.)</label>
                <div class="price_input">
                    <input class="input" type="text" id="engineVolume_min-input" placeholder="Від" />
                    <input class="input" type="text" maxlength="3" id="engineVolume_max-input" placeholder="До" />
                </div>
            </div>
                </div>
                <button id="refresh_cars">Пошук</button>
                <button id="clear_filters">Очистити</button>
            </div>

            @*<button id="save_filters">Розмістити запит</button>*@
        </div>
    </div>
    <div class="wrapper_right">
        <div class="pages_buttons"></div>
        <div id="carList" class="carList"><div class="cars-not-found"><div class="custom-loader"></div><h3 class="warning-text">Завантаження...</h3></div></div>
        <div class="pages_buttons"></div>
    </div>
</div>
<script src="~/js/mainPage.js" asp-append-version="true"></script>


