@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1" />
    <meta property="og:title" content="@ViewBag.Title">
    <meta property="og:description" content="@ViewBag.Description">
    <meta property="og:image" content="@ViewBag.ImageUrl">
    <meta name="google-site-verification" content="YwWSNuDzgSVpsDSwKNrHzrxkUBQveIgvZZTUkfmhJ24" />
    <meta name="keywords" content="придбати авто Чернігів, авто в Чернігові, Чернігів, купити авто, придбати авто, продаж авто Чернігів, купить авто, купить машину в Чернигове, продажа машин, 1auto, 1авто">
    <meta name="description" content="Ласкаво просимо до 1Auto — вашого надійного партнера у світі автомобілів!" />
    <title>@ViewData["Title"] - 1Auto</title>
    <link rel="icon" type="image/x-icon" href="/img/logo3.png">
    <link rel="stylesheet" href="~/css/StyleSheet.min.css" asp-append-version="true" />
    <script src="~/js/loadTheme.js" asp-append-version="true"></script>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-B80WJMKJG9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-B80WJMKJG9');
    </script>
</head>
<body>
    <header>
        <div class="header_left">
            <a asp-controller="Home" asp-action="Index">
                <span><img src="~/img/1auto.webp" alt="logo" /></span>
            </a>
        </div>
        <div class="header_center">
            <a asp-controller="Home" asp-action="Index" class="home-btn">Головна</a>
            @*<a asp-controller="Car" asp-action="Create">Продати авто</a>*@
            @*<a asp-controller="Car" asp-action="CreateExpressSaleCar">Швидкий викуп</a>*@
            <a asp-controller="Car" asp-action="AutoSelection">Автопідбір</a>
            <a asp-controller="Car" asp-action="Leasing" class="privacy-btn">Авто в лізинг/кредит</a>
            @*<a asp-controller="Car" asp-action="ImportingCar">Пригон авто</a>*@
            @*<a asp-controller="Home" asp-action="Privacy" class="privacy-btn">Про нас</a>*@
            <a asp-controller="Car" asp-action="Orders">Пошук авто</a>
        </div>
        <div class="header_right">
            <div class="header_right-theme">
                <label for="light" class="header_right-light-label"></label>
                <input id="light" class="header_right-light" type="radio" name="theme" theme="light" />
                <div class="header_right-separator"></div>
                <script src="~/js/themeSeparator.js" asp-append-version="true"></script>
                <label for="dark" class="header_right-dark-label"></label>
                <input id="dark" class="header_right-dark" type="radio" name="theme" theme="dark" />
            </div>
            @{
                string userId = "";
                if (User != null && User.Identity != null)
                    userId = ((ClaimsIdentity)User.Identity)?.Claims?.FirstOrDefault()?.Value ?? "";

            }

            @if (User?.Identity?.IsAuthenticated ?? false)
            {
                <a asp-controller="User" asp-action="Detail" asp-route-id=@userId class="header_right-button" id="header_right-button">Кабінет</a>
            }
            else
            {
                <a asp-controller="User" asp-action="Login" class="header_right-button" id="header_right-button">Вхід</a>
            }
            <div id="nav-icon2">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </header>
    <div id="dropdown-menu">
        <a asp-controller="Home" asp-action="Index">Головна</a>
        @*<a asp-controller="Car" asp-action="Create">Продати авто</a>*@
        @*<a asp-controller="Car" asp-action="CreateExpressSaleCar">Швидкий викуп</a>*@
        <a asp-controller="Car" asp-action="AutoSelection">Автопідбір</a>
        <a asp-controller="Car" asp-action="Leasing">Авто в лізинг/кредит</a>
        @*<a asp-controller="Car" asp-action="ImportingCar">Пригон авто</a>*@
        @*<a asp-controller="Home" asp-action="Privacy">Про нас</a>*@
        <a asp-controller="Car" asp-action="Orders">Пошук авто</a>
        <div class="separator"></div>
        @if (User?.Identity?.IsAuthenticated ?? false)
        {
            <a asp-controller="User" asp-action="Detail" asp-route-id=@userId class="header_right-button" id="login-button">Кабінет</a>
        }
        else
        {
            <a asp-controller="User" asp-action="Login" class="header_right-button" id="login-button">Вхід</a>
        }
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top text-muted footer">
        <div class="footer-container">
            <div class="footer-container-left">
                <p>Контакти</p>
                <span class="copy-on-click" copy-text="0636599694" title="Натисніть щоб скопіювати">
                    +38 063 659 96 94 ( Viber | Telegram )
                </span>
                <span class="copy-on-click" copy-text="0636599694" title="Натисніть щоб скопіювати">
                    +38 098 015 03 14
                </span>
                <div class="footer-container-left-soc"><p>Ми в соціальних мережах</p>
                <div class="footer-container-left-icons">
                    <a href="https://www.tiktok.com/@@1auto.cn.ua"><img src="~/img/instagram.webp" alt="inst" class="soc-media-icon" /></a>
                    <a href="https://www.tiktok.com/@@1auto.cn.ua"><img src="~/img/tiktok.webp" alt="tiktok" class="soc-media-icon" /></a>
                    <a href="https://www.tiktok.com/@@1auto.cn.ua"><img src="~/img/youtube.webp" alt="youtube" class="soc-media-icon" /></a>
                </div>
                </div>
            </div>
        </div>
        @*<div class="container" style="align-self: end">
            &copy; @DateTime.Now.Year - 1Auto - <a asp-area="" asp-controller="Home" asp-action="Privacy">Про нас</a>
        </div>*@
        <a class="footer-map" href="https://maps.app.goo.gl/AvwJCdRWhnYpDsEk6"><img alt="map" src="~/img/map.webp" /></a>
    </footer>
    <script src="~/js/changeTheme.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/copyOnClick.js" type="module" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>